* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}
/* start header */
.header-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-left a {
  display: flex;
  text-decoration: none;
  margin-left: 30px;
}
.header-right {
}
.btn1 {
  background-color: #101010;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
/* finish header */

/* start hero */
.hero-left h2 {
  font-size: 56px;
  font-weight: 700;
}
.btn2 {
  margin-top: 30px;
  background-color: #1aab7b;
  padding: 20px 40px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.hero-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
/* start section-1 */
.section-1 {
  margin-top: 150px;
}
.m5 {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}
.box {
  margin-top: 15px;
  border-radius: 10px;
  padding: 40px;
  width: 384px;
  background-color: #f2f4f6;
  transition: all 0.4s linear;
}
.box p {
  margin: 30px 0;
  font-weight: 400;
  font-size: 18px;
}
.box h2 {
  font-size: 32px;
  margin-left: 10px;
}
.btn {
  background-color: transparent;
  border: none;
  color: #000000;

  font-size: 20px;
}
/* section-1 finish  */
.wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.box:hover {
  background-color: #1aab7b;
  color: #f2f4f6;
}
.box .btn:hover {
  color: #f2f4f6;
}
.contact {
  margin-top: 100px;
}

.contact h2 {
  text-align: center;
  font-size: 22px;
  width: 300px;
}

.contact .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact p {
  width: 500px;
  text-align: center;
}

.contact form {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.596);
  width: 500px;
  height: 200px;
  padding: 30px;
}

.contact .form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url("./images/mars logo.png");
}

.contact input {
  border: none;
  margin: 20px 0;
  background-color: transparent;
  border-bottom: 2px solid rgb(170, 160, 160);
  width: 350px;
}

.contact input::placeholder {
  color: white;
}

.contact button {
  background-color: #1aab7b;
  border: none;
  color: white;
  width: 150px;
  border-radius: 10px;
  padding: 10px 20px;
}

.footer {
  background-color: black;
  color: white;
  padding: 30px 0;
  margin-top: 40px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: gray;
  text-decoration: none;
}

.fab,
.far {
  font-weight: 400;
}
.fab {
  font-family: "Font Awesome 5 Brands";
}

.facebook {
  display: flex;
  gap: 20px;
  align-items: center;
}
